:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #fff;
	--text-secondary: #ececec;
	--bg-primary: #25274D;
	--bg-nav-primary: #29648A;
	--bg-nav-secondary: #298A80;
	--transition-speed: 0.25s;
}

.mainpage{
	background-color: var(--bg-primary);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

