:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #FCDAB7;
	--text-secondary: #ececec;

	--bg-primary: #ECECEC;
	background: var(--bg-primary);

	--bg-nav-primary: #1E5F74;
	--bg-nav-secondary: #298A80;
	--nav-size: 10rem;

	--bg-card-primary: #FCDAB7;

	--transition-speed: 0.25s;
}

.mainpage{
	background-color: var(--bg-primary);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

