@{
    ViewData["Title"] = "Experiment";
}

<head>
    <link rel="stylesheet" href="~/css/experiment.css" />

</head>

<div class="content">
    <h1>Setup Sensors</h1>
    <div class="cards">
        <div class="pH-card">
            <h3>pH</h3>
            <div class="subcard">
                <div class="subcard-head-button">
                    <h4>Calibrate</h4>
                    <select class="drop-down">
                        <option>Phenobottle #1</option>
                        <option>Phenobottle #2</option>
                        <option>Phenobottle #3</option>
                    </select>
                </div>
                <div class="subcard-description">
                    <p>Last calibrated: 26/01/2020</p>
                    <p>A three-point calibration should be preformed before starting an experiment.</p>
                </div>

                <div class="cali-list">
                    <div class="btn-output">
                        <button class="button1">pH 4</button>
                        <output class="ph-output">4.22</output>
                    </div>
                    <div class="btn-output">
                        <button class="button1">pH 7</button>
                        <output class="ph-output">7.22</output>
                    </div>
                    <div class="btn-output">
                        <button class="button1">pH 10</button>
                        <output class="ph-output">10.22</output>
                    </div>


                </div>
            </div>
        </div>
        <div class="pH-card">
            <h3>pH</h3>
            <div class="subcard">
                <div class="subcard-head-button">
                    <h4>Calibrate</h4>
                    <select class="drop-down">
                        <option>Phenobottle #1</option>
                        <option>Phenobottle #2</option>
                        <option>Phenobottle #3</option>
                    </select>
                </div>
                <div class="subcard-description">
                    <p>Last calibrated: 26/01/2020</p>
                    <p>A three-point calibration should be preformed before starting an experiment.</p>
                </div>

                <div class="cali-list">
                    <div class="btn-output">
                        <button class="button1">pH 4</button>
                        <output class="ph-output">4.22</output>
                    </div>
                    <div class="btn-output">
                        <button class="button1">pH 7</button>
                        <output class="ph-output">7.22</output>
                    </div>
                    <div class="btn-output">
                        <button class="button1">pH 10</button>
                        <output class="ph-output">10.22</output>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
