/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #264653;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}


.graph-card {
    padding: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: var(--transition-speed);
    border-radius: 0.5em;
}

    .graph-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

.navbar {
    z-index: 9;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    overflow: scroll;
    height: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    color: var(--text-primary);
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;
    transition: 100ms;
}

    .nav-link:hover {
        color: #e9c46a;
        transform: scale(1.1);
    }

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    margin: 3rem;
    min-width: 2rem;
    margin: 0 1rem;
}


/* Mobile Screens */
@media only screen and (max-width: 600px) {
    .container-fluid {
        width: auto;
        margin-left: 0rem;
    }
	
	.navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
}



/* Desktop Screens */
@media only screen and (min-width: 600px) {
    .container-fluid {
        width: auto;
        margin-left: 5rem;
    }

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

        .navbar:hover {
            width: 16rem;
        }

            .navbar:hover .link-text {
                display: inline;
                transition: scale(1.1);
            }
    .nav-item:last-child {
        margin-top: auto;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 5rem;
    width: 100%;
    background-color: white;
    color: white;
    text-align: left;
}
