<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Phenobottle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Home" class="nav-link">
                        <i class="fas fa-home"></i>
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="nav-link">
                        <i class="fa fa-dashboard"></i>
                        <span class="link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Phenobottles" class="nav-link">
                        <i class="fas fa-flask"></i>
                        <span class="link-text">Phenobottle's</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Sensors" class="nav-link">
                        <i class="fas fa-sliders-h"></i>
                        <span class="link-text">Sensors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Environment" class="nav-link">
                        <i class="fas fa-leaf"></i>
                        <span class="link-text">Environment</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Settings" class="nav-link">
                        <i class="fas fa-cogs"></i>
                        <span class="link-text">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TestWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
