@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Phenobottle</h1>
    <p>The Phenobottle is an open-source Raspberry Pi based tissue 
	culture flask photobioreactor used for assessing growth and 
	photophysiology in microalgae.</p>
</div>
