@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h2 class="display-4">Websocket Client</h2>
    <h4 id="URL"></h4>
	<button id="connect">Connect</button>
	<button id="message">Send Message</button>
	<button id="message2">Send Short Msg</button>
	<button id="longMessage">Send long message</button>
    <h5 id="state"></h5>
	
	<script type="text/javascript">

		function addNums(length) {
			var output = "";
			for (var i = 0; i < length; i++) {
				output += i.toString();
			}
			return output;
		}

		var connectionURL = document.getElementById("URL");
		connectionURL.value = "ws://localhost:443";

		connect.onclick = function () {
			console.log("Attempting to connect...")
			socket = new WebSocket(connectionURL.value);

			socket.onopen = function (event) {
				console.log("Connected")
			}
		}

		message.onclick = function () {
			// Short message
			socket.send("Hello!");
		}

		message2.onclick = function () {
			socket.send("Test String.");
		}

		longMessage.onclick = function () {
			socket.send(addNums(1000));
		}

	</script>







</div>
