@{
    ViewData["Title"] = "Phenobottle";
}

<head>
    <link rel="stylesheet" href="~/css/phenobottles.css" />
</head>


<body>
    <h2>Server Connections</h2>
   

    <div class="card">
        
        <div class="top-bar">
            <button class="button2" id="refresh">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></button>
            <div class="custom-input">
                <input type="text" placeholder="Custom Input..." />
                <button class="button1" id="custom-msg">Send</button>
            </div>	
        </div>
        <!--Going to add graph cards here when Phenobottle are 
			identified-->

        <label id="Phenobottle">Phenobottle 1</label>
    </div>
    
	<div class="card">
        <button id="message">Send Message</button>
        <button id="message2">Send Short Msg</button>
        <button id="longMessage">Send long message</button>
    </div>

    


    <script type="text/javascript">function addNums(length) {
            var output = "";
            for (var i = 0; i < length; i++) {
                output += i.toString();
            }
            return output;
        }

        var connectionURL = document.getElementById("URL");
        connectionURL.value = "ws://localhost:443";

        refresh.onclick = function () {
            console.log("Attempting to connect...")
            socket = new WebSocket(connectionURL.value);

            socket.onopen = function (event) {
                console.log("Connected")
            }
        }

        message.onclick = function () {
            // Short message
            socket.send("Hello!");
        }

        message2.onclick = function () {
            socket.send("Test String.");
        }

        longMessage.onclick = function () {
            socket.send(addNums(1000));
        }</script>


</body>




