.navbar{
	width: 8rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
}

.navlist{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.navitem {
	width: 100%;
}
.navitem:last-child{
	margin-top: auto;
}

.navlink {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
	padding-left: 1rem;
}
.navlink:hover{
	filter: greyscale(0%) opacity(1);
	background: var(--bg-secondary);
}



