.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	padding: 1rem;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	min-height: 50vh;
}

.logo{
	max-width: 95%;
	max-heigh: 95%;
	display: block;
}

.connection {
	display: flex;
	flex-direction: column;
	align-items: center;
}
						

.loginform {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	width: 100%;
}

.loginlabel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5rem;
}	

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

/* Small Screens */
@media only screen and (max-width: 600px){
	.card{
		margin-left: 2rem;
	}
}

/* Large Screens */
@media only screen and (min-width: 600px){
	.card{
		marign-left: 12rem;
	}
}

button {
	border-radius: 20px;
	margin: 0.5rem;
	border: 1px solid var(--bg-nav-secondary);
	background-color: var(--bg-nav-primary);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:hover {
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

