.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devices {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.divider {
	border-top: 3px solid #bbb;
	width: 100vh;
}

.connect {
	display: flex;
	column-gap: 5rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.connect button{
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 3px;
	font-weight: bold;
	color: #FFF;
	background-image: -webkit-linear-gradient(45deg, #185407 0%, #31d604 100%);
	background-image: linear-gradient(45deg, #185407 0%, #31d604 100%);
	transition: .4s;
}
.connect:hover button {
	background-image: -webkit-linear-gradient(45deg, #185407 50%, #31d604 100%);
	background-image: linear-gradient(45deg, #185407 50%, #31d604 100%);
}

.table th {
	border: 2px solid #ddd;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.table tr:nth-child(eve) {
	background-color: #f2f2f2
}
.table tr:hover {
	background-color: #ddd;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
